@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  max-width: 980px;
}

body {
  margin: 0 auto;
  padding: 0 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3,
h4 {
  font-family: "Goldman", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

.error-message {
  color: #ff0000;
}

.editor {
  background-color: #f9f9f9;
  color: #000;
}
