.adminHeader {
  font-size: 1.5em;
  margin-left: 3rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.postList {
  width: 75vw;
  padding: 0.8em 2em;
  border-radius: 8px;
  border: 2px double #f9f9f9;
  background-color: #28282899;
  margin-bottom: 2rem;
}

.postList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.postList ul li:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid #f9f9f9;
  padding-bottom: 1rem;
}

.postList ul li div {
  display: flex;
  gap: 1em;
}
.postList ul li div > * {
  background-color: #373f74;
  border: none;
  border-radius: 4px;
  color: #f9f9f9;
  text-decoration: none;
  padding: 0.2em 0.4em;
  width: fit-content;
}
.postList ul li div > *:last-child {
  background-color: rgb(141, 42, 42);
}
