.editPostForm {
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submitEditButton {
  width: fit-content;
  align-self: center;
  padding: 0.3em 0.7em;
  border: none;
  border-radius: 4px;
  font-weight: 800;
  background-color: #b83a2d;
  color: #f9f9f9;
}

.nonEditableDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nonEditableDiv p {
  background-color: #444;
  padding: 0.2rem 0.7rem;
  border-radius: 3px;
}
.nonEditableDiv p:hover {
  background-color: #777;
}

.editableDiv {
  display: flex;
  gap: 1.2rem;
}

.editableDiv label {
  color: #f9f9f9;
  font-weight: 700;
}

.doneButton {
  margin-left: 1rem;
  padding: 0.2em 0.5em;
  border: none;
  border-radius: 4px;
  font-weight: 800;
  background-color: #368f2e;
  color: #f9f9f9;
  width: fit-content;
}

.contentDiv {
  flex-direction: column;
  gap: 0.3rem;
  align-items: stretch;
}

.textArea {
  width: fit-content;
}

.editor {
  overflow-y: scroll;
  height: 18rem;
}
