.homeScreen {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.postsBlock {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 60vh;
  overflow-y: scroll;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 65vh;
  z-index: -1;
}

.image1 {
  width: 8rem;
}

.image2 {
  width: 10rem;
  transform: translate(0, -40px);
}

.image3 {
  width: 8rem;
  transform: translate(-20px, 0);
}

@media screen and (max-width: 545px) {
  .homeScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    overflow-y: hidden;
    margin-bottom: 4em;
  }
  .imageBlock {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: fit-content;
    margin-top: 3rem;
  }
  .image1 {
    transform: rotate(90deg);
    width: 5rem;
  }
  .image2 {
    transform: translate(5px, -10px);
    z-index: 1;
    width: 8rem;
  }
  .image3 {
    width: 6rem;
  }

  .postsBlock {
    overflow-y: scroll;
    width: 80vw;
    border: 1px solid #f9f9f9;
    padding: 1em;
  }
}
