@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em;
  background-color: #282828;
  border-bottom: 3px double #f9f9f9;
  font-family: "Goldman", serif;
}

.navLogo {
  color: unset;
  text-decoration: none;
}

.header nav {
  display: flex;
  gap: 1em;
}

.header nav a {
  color: #fff;
  text-decoration: none;
}

.header nav a:hover {
  color: #999999;
}

.header nav a.active {
  color: #67676767;
  text-decoration: underline;
}
