.postTile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 4px double #282828; */
  border-radius: 8px;
  /* padding: 0.8em; */
  gap: 2.8em;
}

.postHeader {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.postSubtitle {
  color: #616db8;
  width: 90%;
  text-wrap: wrap;
  margin-top: 0.3rem;
}
.postFooter {
  color: #dcc9a9;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 2rem;
}

.postFooterDetails {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.categoryTile {
  width: fit-content;
  padding: 0.4em 0.7em;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 0.4em;
}
.postDate {
  font-weight: 700;
}
.postFooterViewButton {
  background-color: #b83a2d;
  padding: 0.4em 0.6em;
  height: fit-content;
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  color: unset;
}

@media screen and (max-width: 545px) {
  .postTile {
    gap: 1.8rem;
  }
}
